body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(175, 173, 172);
}

.nav-logo {
  width: 60px;
}

.nav-items {
  list-style: none;
  display: flex;
  color: blueviolet;
}

.nav-items > li {
  padding: 10px;
}

.footer {
  background-color: lightgray;
  padding: 3%;
  text-align: center;
}
